<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
	</head>
	<body>
		<label>Student</label>
		<div class="btn-group" style="width:100%">
			<form action="/search_detail" method="POST">
				<button style="width:33%" type="submit">View/Update Student Details</button>
			</form>
		  	
		  	<form action="/add_student_page" method="POST">
				<button style="width:33%" type="submit">Enroll a Student</button>
			</form>
		  	
		  	<form action="/more" method="POST">
				<button style="width:33%" type="submit">More...</button>
			</form>
		</div>
		<br>
		<label>Add Hostel/Room/Furniture/Warden</label>
		<div class="btn-group" style="width:100%">
			<form action="/add_hostel_page" method="POST">
				<button style="width:33%" type="submit">Add Hostel</button>
			</form>
		  	
		  	<form action="/add_room_page" method="POST">
				<button style="width:33%" type="submit">Add Room</button>
			</form>
		  	
		  	<form action="/add_furniture_page" method="POST">
				<button style="width:33%" type="submit">Add Furniture</button>
			</form>

			<form action="/add_warden_page" method="POST">
				<button style="width:33%" type="submit">Add Warden</button>
			</form>
		</div>

		<form action="/logout" method="POST">
            <label> Hi {{ username }} !</label>
            <input type="submit" value="Logout" class="button">
        </form>
	</body>
</html> 
