<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
	</head>
	<body>
		<label>Student</label>
		<div class="btn-group" style="width:100%">
			<form action="/search_detail" method="POST">
				<button style="width:33%" type="submit">View/Update Student Details</button>
			</form>
		  	
		  	<form action="/more" method="POST">
				<button style="width:33%" type="submit">More...</button>
			</form>
		  	
		  	<form action="/more" method="POST">
				<button style="width:33%" type="submit">More...</button>
			</form>
		</div>
		<br>
		<label>Something More</label>
		<div class="btn-group" style="width:100%">
		  <button style="width:24%">---</button>
		  <button style="width:24%">---</button>
		  <button style="width:24%">---</button>
		  <button style="width:24%">---</button>
		</div> 

		<form action="/logout" method="POST">
            <label> Hi {{ username }} !</label>
            <input type="submit" value="Logout" class="button">
        </form>
	</body>
</html> 
