<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
            $(function() {
                var x = document.getElementsByTagName('input');
                var i;
                for (i = 0; i < x.length-1; i++) {
                    x[i].checked = true;
                    x[i].addEventListener("click", calculateFine);
                }
            });

            function calculateFine(){
                var x = document.getElementsByTagName('input');
                var i;
                var fine=0;
                for (i = 0; i < x.length-1; i++) {
                    if(!x[i].checked){
                        fine += (x[i].classList.contains('chair')?2000:0)
                                +(x[i].classList.contains('bed')?20000:0)
                                +(x[i].classList.contains('table')?10000:0);
                    }
                }
                console.log(fine);
                document.getElementById('fine').value = fine;
            }
        
        </script>
		<title>Room's Furniture List</title>
	</head>
	<body>
		

        <form action="/impose_fine" class="container" method="POST">
            <label>Students In this Room</label>
            <div id="student_list">
                {%for i in range(0,students | length)%}
                    <div class="form-group">
                        <label>Student ID - </label><label id="stu">{{students[i][0]}}</label>
                        <label> , First Name - {{students[i][1]}}</label>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Furniture List (select all that exists)</label>
                {%for i in range(0,furniture | length)%}
                    <div class="form-group">
                        <input type="checkbox" name={{furniture[i][0]}} value={{furniture[i][0]}} class={{furniture[i][1]}}>
                        <label>ID - {{furniture[i][0]}} ; </label>
                        <label>Type - {{furniture[i][1]}}</label>
                    </div>
                {%endfor%}
                
            </div>
            
                <label>Fine Amount :</label>
                <input id="fine" name="fine" type="text">
            
            <button type="submit" class="btn btn-primary">Charge Fine on All Students</button>
        </form>
	</body>
</html> 
