<!DOCTYPE html>
<html>
	<head>
		<title>Search Student Details</title>
	</head>
	<body>
		<form action="/show_update_detail" method="POST">
			<div>
				<label>Roll No.</label>
				<input type="number" name="student_id">
			</div>
			<button type="submit" width="20%" name="show">See Student Details</button>
			<button type="submit" width="20%" name="update">Update Student Details</button>
			<button type="submit" width="20%" name="delete">Delete Student</button>
			<button type="submit" width="20%" name="back">Back</button>
		</form>
	</body>
</html> 
