<!DOCTYPE html>
<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#studentsTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            });
        });
        </script>
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
		<title>Search Student Page</title>
	</head>
	<body>
        <input type="text" id="search">

		<table>
            <thead>
                <tr>
                {% for i in range(0,fields | length) %}
                    <th>{{fields[i]}}</th>
                {%endfor%}
                </tr>
            </thead>

            <tbody id="studentsTable">
                {% for i in range(0,res | length) %}
                <tr>
                    {% for j in range(0,res[i] | length) %}
                    {%if res[i][j]==None%}
                    <td></td>
                    {%else%}
                    <td>{{res[i][j]}}</td>
                    {%endif%}
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
	</body>
</html> 
