<!doctype HTML>
<html>
    <title>Details</title>
    <body>

        {% if not_found == True %}
            <p>Sorry! Not Found</p>
        {% else %}

            {% for i in range(0,fields | length) %}
                
                    <label><strong>{{fields[i]}}</strong> : {{res[i]}}</label>
                    <br>
            {%endfor%}
            {% if warden_found %}
                <label><strong>warden:</strong>
                    {% for i in range(0,warden_list | length-1) %}
                        {{warden_list[i][0]}},
                    {% endfor %}
                    {{warden_list[warden_list|length-1][0]}}
                </label>
            {% endif %}
        {% endif %}
        <form action = "/home" method = 'POST'>
            <button type="submit">Back</button>
        </form>
    </body>
</html>