<!doctype HTML>
<html>
    <title>Update Details</title>
    <body>

        {% if not_found == True %}
            <p>Sorry! Not Found</p>
        {% else %}
        <label><strong>{{fields[0]}} : </strong>{{res[0]}}</label>
        <form action = "/update_details" method = 'POST'>
            {% for i in range(1,fields | length) %}
                <label><strong>{{fields[i]}}</strong></label>
                <input type="text" name="{{fields[i]}}" value="{{res[i]}}">
                <br>
            {%endfor%}
            <button type="submit" width="20%">Update Details</button>
        </form>

        {% endif %}
        
        <form action = "/home" method = 'POST'>
            <button type="submit" width="20%">Back</button>
        </form>
        
    </body>
</html>